#modal-modal-title {
    margin: 20px;
}
.event_add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-view-harness:hover{
    cursor: pointer;
}
.Calendar {
    padding: 20px 0;
}