/* CSS RESET */
body, header, main, footer, div, p, button, h1, h2, h3, h4, ul, li, svg {
  margin: 0;
  padding: 0;
}
body, div {
  font-family: '맑은 고딕';
  font-size: 15px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img, a {
  vertical-align: bottom;
}
input {
  outline: none;
  border: 1px solid black;
}
ul, li {
  list-style: none;
}


/* 헤더 */
header {
  height: 100px;
  position: sticky;
  top: 0;
  font-size: 20px;
  box-shadow: 3px 3px 15px 3px #cbcbcb;
  background-color: white;
  z-index: 10;
}
.logo {
  text-align: center;
  padding-top: 13px;
}
.logo_img {
  width: 80px;
}
.login_btn {
  width: 40px;
  position: absolute;
  left: 20px;
  top: 30px;
}
.notice_btn_img {
  width: 40px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.gnb {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #fff;
  border-top: 1px solid #cbcbcb;
  height: 100px;
  z-index: 11;
}


/* 메인 */
main {
  /* height: 1000px; */
  margin: 0 auto;
  /* background: beige; */
  padding: 100px 0 200px;
}

/* 링크 스타일 */
.link {
  text-decoration: underline;
  color: #1876d2;
}



/* 푸터 */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #eee;
  padding: 10px 0;
  z-index: 10;
}
.todo_btn {
  width: 50px;
  padding: 10px;
}
.calendar_btn {
  width: 70px;
}
.diary_btn {
  width: 50px;
  padding: 10px;
  /* box-sizing: border-box; */
}